# Object files
*.o
*.ko
*.obj
*.elf
*.map
*.dep
*.bak

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


#path
/stm32f4-board-master/Project/MDK-ARM(uV4)/Flash
